@model WelcomeModel
<h1>GDC Welcomer</h1>

Добро пожаловать!
Введите свои данные:
@{
    var type = typeof(WelcomeModel);
    var properties = type.GetProperties();
    <form method="post">
        @properties[1].Name
        <input type="text" required name="@properties[1].Name" />
        @properties[4].Name
        <input type="text" required name="@properties[4].Name" />
        <input type="submit" value="Войти!" />
    </form>
}
@ViewBag.Message

